<section id="home" name="home"></section>
    <div id="w">
        <div class="container">
        <div class="row centered">
          <h4>Don't break the chain - commit to open source everyday</h4>
          <h1>STREAKERS</h1>
          <hr class="aligncenter">
        </div><!--/row -->
        </div><!-- /.container -->
    </div><!--/W Header -->

    <section id="contact" name="contact">
    <!-- FOOTER -->
    <div id="f">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
            <form role="form" action="/hackers" method="post" enctype="plain">
                <input type="github_username" name="github_username" class="subscribe-input" placeholder="Enter your GitHub username..." required>
              <button class='btn btn-lg btn-gold subscribe-submit' type="submit">go streaking</button>
            </form>
          </div>
        </div><!--/row -->
        <div class="row mt">
          <h4 class="centered">&hearts;<br>CirrusMio</h4>
        </div><!--/row -->
      </div><!--/container -->
    </div><!--/ F -->
  </section>
